<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="codeGeneraService" class="com.service.CodeGeneraService">
        <property name="serviceProvider">
            <bean id="htmlCodeGeneraServiceProvider" class="com.service.HtmlCodeGeneraServiceProvider">
                <property name="htmlTemplatePath"
                          value="D:\Project\CodeGenera\out\production\CodeGenera\com\codeModule\FileTemplate\HtmlTemplate.html"/>
                <property name="moduleBeansPath"
                          value="config\ModuleBeans.xml"/>
            </bean>
        </property>
    </bean>
</beans>